<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>

<body>
    <header>
        <h1><a href="">My Blog</a></h1>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Pariatur non cillum culpa velit. Culpa commodo consectetur et aliqua ea enim duis enim dolore esse
                reprehenderit exercitation ipsum. Exercitation eu et officia cupidatat esse pariatur.

                Magna labore culpa culpa laborum enim exercitation nostrud velit. Tempor adipisicing pariatur aute nisi
                elit occaecat incididunt duis ex occaecat incididunt eiusmod esse. Ea eu reprehenderit irure enim ea
                excepteur officia nulla pariatur sit cupidatat.</p>
        </article>
        
        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Pariatur non cillum culpa velit. Culpa commodo consectetur et aliqua ea enim duis enim dolore esse
                reprehenderit exercitation ipsum. Exercitation eu et officia cupidatat esse pariatur.

                Magna labore culpa culpa laborum enim exercitation nostrud velit. Tempor adipisicing pariatur aute nisi
                elit occaecat incididunt duis ex occaecat incididunt eiusmod esse. Ea eu reprehenderit irure enim ea
                excepteur officia nulla pariatur sit cupidatat.</p>
        </article>

    </header>
</body>

</html>